.hero {
    background: greenyellow;
    padding: 100px 20px;
}
.hero h1{
    color: black;
    font-size: 3em;
    margin-bottom: 20px;

}
body{
    background-color:cadetblue;
    margin : 0;
    border : 1px solid;
}
p{
    padding: 10 px;
    color: black;
}
ul li{
    word-spacing: 1 px;
    color:beige;
}
.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}
