.hero {
    background: greenyellow;
    padding: 100px 20px;
}
.hero h1{
    color: black;
    font-size: 3em;
    margin-bottom: 20px;

}
body{
    background-color:cadetblue;
    margin : 0;
    border : 1px solid;
}
p{
    padding: 10 px;
    color: aquamarine;
}
ul li{
    word-spacing: 1 px;
    color:beige;
}

